.Signup-modal-out-wrapper {
  width: 100%;
  height: 100%;
  .Signup-modal-wrapper {
    margin: 0 auto;
    width: 768px;
    height: 100%;
    background-color: #fff;
    position: fixed;
    justify-items: center;
    z-index: 100000;
    inset: 0px;
    box-shadow: rgb(0, 0, 0, 0) 0 0 0 9999px;
    overflow: scroll;
    .close-Signup-modal-btn-wrapper {
      width: 100%;
      height: 64px;
      display: flex;
      justify-content: end;
      .close-Signup-modal-btn {
        border: none;
        background-color: #fff;
        width: 30px;
        height: 20px;
        font-size: 25px;
        margin: auto 15px auto auto;
        cursor: pointer;
      }
    }
    .Signup-modal-content-wrapper {
      height: 100%;
      padding: 0 20px;
      font-size: 15px;
      .h1 {
        font-size: 24px;
        font-weight: bold;
        line-height: 36px;
      }
      .p {
        font-size: 14px;
        line-height: 24px;
        margin-top: 8px;
        color: rgb(68, 68, 68);
        .a {
          color: rgb(0, 221, 109);
          text-decoration: underline;
          letter-spacing: -0.5px;
          cursor: pointer;
        }
      }
      .content-inner-wrapper {
        padding: 28px 0px 20px;
        .email-content-wrapper {
          position: relative;
          text-align: left;
          margin-top: 0px;
          .email-title {
            display: block;
            letter-spacing: -0.5px;
            line-height: 24px;
            padding-bottom: 6px;
            text-align: left;
            font-weight: 400;
            font-size: 15px;
            color: #222;
          }
          .email-input {
            width: 100%;
            height: 48px;
            padding: 12px 16px;
            border: 1px solid #d4d4d4;
            color: #000;
            background: #fff;
            border-radius: 4px;
            letter-spacing: -1px;
            box-sizing: border-box;
            &:hover {
              border: 1px solid black;
            }
          }
        }
        .name-content-wrapper {
          position: relative;
          margin-top: 24px;
          .name-title {
            letter-spacing: -0.5px;
            line-height: 24px;
            padding-bottom: 6px;
            text-align: left;
            font-weight: 400;
            font-size: 15px;
            color: #222;
          }
          .name-input {
            width: 100%;
            height: 48px;
            padding: 12px 16px;
            border: 1px solid #d4d4d4;
            color: #000;
            background: #fff;
            border-radius: 4px;
            letter-spacing: -1px;
            box-sizing: border-box;
            &:hover {
              border: 1px solid black;
            }
          }
        }
        .password-content-wrapper {
          position: relative;
          margin-top: 24px;
          .password-title {
            display: block;
            letter-spacing: -0.5px;
            line-height: 24px;
            padding-bottom: 6px;
            text-align: left;
            font-weight: 400;
            font-size: 15px;
            color: #222;
          }
          .password-input {
            width: 100%;
            height: 48px;
            padding: 12px 16px;
            border: 1px solid #d4d4d4;
            color: #000;
            background: #fff;
            border-radius: 4px;
            letter-spacing: -1px;
            box-sizing: border-box;
            &:hover {
              border: 1px solid black;
            }
          }
        }
        .check-box-wrapper {
          position: relative;
          margin: 28px 0px 0px;
          .check-box-label-top {
            display: flex;
            margin-right: 0;
            display: inline-block;
            padding-left: 34px;
            color: #333;
            letter-spacing: -0.5px;
            line-height: 24px;
            text-align: left;
            padding-bottom: 14px;
            width: 100%;
            border-bottom: 1px solid rgb(236, 236, 236);
            cursor: pointer;
          }
          input {
            position: absolute;
            left: 0;
            top: 0;
            width: 24px;
            height: 24px;
            border-radius: 4px;
            color: #fff;
            border: 1px solid #d4d4d4;
            background-color: #fff;
            box-sizing: border-box;
            outline: none;
            accent-color: #00dd6d;
            cursor: pointer;
          }

          .check-box-label {
            display: flex;
            position: relative;
            margin-top: 16px;
            margin-right: 0;
            display: inline-block;
            padding-left: 34px;
            color: #333;
            letter-spacing: -0.5px;
            line-height: 24px;
            text-align: left;
            width: 100%;
            cursor: pointer;
          }
        }
        // .signup-button {
        //   border: 1px solid rgb(196, 196, 196);
        //   color: rgb(255, 255, 255);
        //   background: rgb(196, 196, 196);
        //   height: 56px;
        //   line-height: 54px;
        //   font-size: 18px;
        //   letter-spacing: -0.5px;
        //   border-radius: 3px;
        //   width: 100%;
        //   margin-top: 24px;
        //   cursor: pointer;
        // }
        .true-signup-button {
          width: 100%;
          height: 56px;
          border: 1px solid #000000;
          color: rgb(255, 255, 255);
          background: #000000;
          border-radius: 3px;
          margin: 24px 0px 16px;
          font-size: 16px;
          font-weight: 500;
          cursor: pointer;
          &:hover {
            background-color: #333232;
          }
        }
        .false-signup-button {
          width: 100%;
          height: 56px;
          border: 1px solid rgb(196, 196, 196);
          color: rgb(255, 255, 255);
          background: rgb(196, 196, 196);
          border-radius: 3px;
          margin: 24px 0px 16px;
          font-size: 16px;
        }
      }
    }
  }
}
