.mainInfo {
  position: relative;
  width: 630px;

  .header {
    border-bottom: 1px solid rgb(234, 234, 234);

    .headerTitle {
      font-weight: 700;
      font-size: 40px;
      margin-bottom: 16px;
      line-height: 1.25;
    }
    .div {
      margin-bottom: 25px;
    }
    .a {
      cursor: pointer;
    }
    .ul {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 16px;
      list-style: none;

      .li {
        display: inline-block;
        width: fit-content;
        margin: 0px 6px 6px 0px;
        padding: 5px 16px;
        border: 1px solid rgb(228, 228, 228);
        box-sizing: border-box;
        border-radius: 100px;
        color: rgb(68, 68, 68);
        font-weight: 500;
        font-size: 13px;
        line-height: 20px;
        cursor: pointer;
      }
    }
  }
  .positionInfo {
    // margin-top: 50px;
    .dt {
      padding-bottom: 12px;
      font-size: 18px;
      color: rgb(0, 0, 0);
      line-height: 32px;
      letter-spacing: -0.5px;
      font-weight: bold;
    }
    .skillIcon {
      display: flex;
      margin: 0px;
      padding: 0px;
      white-space: pre-line;
      word-break: break-all;
      overflow-wrap: break-word;
      font-size: 16px;
      color: rgb(68, 68, 68);
      line-height: 28px;
      letter-spacing: -0.5px;
      width: 630px;
      flex-wrap: wrap;
      .skillWrap {
        display: inline-block;
        position: relative;
        margin: 0px 6px 6px 0px;
        font-size: 12px;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: 0px;
        color: rgb(0, 0, 0);
        padding: 0px 12px 0px 34px;
        background: rgb(244, 244, 244);
        border-radius: 4px;
        height: 32px;
        pre {
          padding: 0;
          letter-spacing: -0.5px;
          word-break: break-all;
          white-space: pre-line;
          word-wrap: break-word;
        }
        .skillImg {
          display: inline-block;
          position: absolute;
          left: 8px;
          top: 6px;
          width: 20px;
          height: 20px;
          border: none;
        }
        .dd {
          padding-top: 4px;
          width: 100%;
        }
      }
    }
  }
  .dl {
    padding-bottom: 12px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    line-height: 32px;
    letter-spacing: -0.5px;
    font-weight: bold;
  }
  .dd {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    color: rgb(68, 68, 68);
    line-height: 28px;
    letter-spacing: -0.5px;
  }
  .infoTitle {
    padding-bottom: 15px;
    text-align: left;
    .pre {
      margin-top: 15px;
      margin-bottom: 15px;
      padding: 0;
      font-size: 16px;
      color: #444;
      line-height: 28px;
      letter-spacing: -0.5px;
      word-break: break-all;
      white-space: pre-line;
      word-wrap: break-word;
    }
  }
}
.positionDetail {
  padding: 32px 0;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;

  .detailList {
    display: flex;
    align-items: baseline;
    position: relative;
    font-size: 15px;
    color: #444;
    line-height: 20px;
    letter-spacing: 0;
    margin: 10px 0;

    .detailListIcon {
      width: 16px;
      height: 16px;
    }
    .dot {
      padding: 0px 10px 0px 10px;
    }

    .dt {
      line-height: 24px;
      color: #000;
      font-weight: 500;
      width: 60px;
    }
  }
  .mapView {
    cursor: pointer;
    text-decoration: none;
    color: rgb(136, 136, 136);
    margin-left: 5px;
  }
  .adressBtn {
    border: none;
    border-radius: 0;
    background: none;
    cursor: pointer;
    color: rgb(0, 221, 109);
    font-size: 16px;
  }
}
.positionContent {
  .positionContentTitle {
    margin: 48px 0 16px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.5px;
  }
  .imgWrapper {
    .imgPrevBtn {
      position: absolute;
      top: 50%;
      left: 16px;
      background: url('https://cdn-icons-png.flaticon.com/512/215/215642.png')
        center center / 32px 32px no-repeat;
      width: 32px;
      height: 32px;
      z-index: 1;
      border: none;
      border-radius: 0;
      cursor: pointer;
    }
    .imgNextBtn {
      position: absolute;
      top: 50%;
      right: 16px;
      background: url('https://cdn-icons-png.flaticon.com/512/215/215614.png')
        center center / 32px 32px no-repeat;
      width: 32px;
      height: 32px;
      z-index: 1;
      border: none;
      border-radius: 0;
      cursor: pointer;
    }
    .contentImg {
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start;
      padding-bottom: 6px;
      height: auto;
      overflow-x: auto;
      scroll-behavior: smooth;
      scroll-snap-type: x mandatory;
      overscroll-behavior: contain;
      .img {
        position: relative;
        width: 630px;
        height: 333px;
        left: 0px;
        top: 0px;
        border-radius: 4px;
        object-fit: cover;
        outline-offset: -1px;
      }
    }
  }
  .pre {
    margin-top: 14px;
    padding: 0;
    font-size: 16px;
    color: #444;
    line-height: 28px;
    letter-spacing: -0.5px;
    word-break: break-all;
    white-space: pre-line;
    word-wrap: break-word;
    max-height: 168px;
    overflow: hidden;
  }
  .preClick {
    margin-top: 14px;
    padding: 0;
    font-size: 16px;
    color: #444;
    line-height: 28px;
    letter-spacing: -0.5px;
    word-break: break-all;
    white-space: pre-line;
    word-wrap: break-word;
  }
}
.moreButton {
  padding-top: 16px;
  .introduceBtn {
    position: relative;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.5px;
    color: #222;
    padding: 11px 39px 11px 39px;
    border: 1px solid #e4e4e4;
    box-sizing: border-box;
    border-radius: 4px;
    background: none;
    cursor: pointer;
  }
  .moreBtn {
    width: 12px;
    height: 12px;
    padding-left: 10px;
  }
  .modalFooter {
    padding-bottom: 40px;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.5px;
    color: #b4b4b4;
    list-style: none;
  }
}
