.CompanyPostsWrapper {
  display: flex;
  width: 100%;

  .companyCard {
    width: 100%;
    max-width: 307px;
    margin-bottom: 16px;
    border: 1px solid rgb(228, 228, 228);
    box-sizing: border-box;
    border-radius: 4px;
    min-height: 158px;
    background: rgb(255, 255, 255);
    padding: 24px;
    cursor: pointer;
    .companyCardHeader {
      display: flex;
      justify-content: space-between;
      .scrapImg {
        width: 16px;
        height: 16px;
      }
      .span {
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.5px;
        color: rgb(0, 221, 109);
      }
    }
    .companyCardTitle {
      margin: 16px 0px;
      font-weight: 700;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: -0.5px;
    }
    .ul {
      height: 18px;
      margin-top: 16px;
      flex-wrap: wrap;
      overflow: hidden;
      font-size: 13px;
      line-height: 18px;
      letter-spacing: -0.5px;
      color: rgb(153, 153, 153);
      display: flex;
      list-style: none;
      margin: 16px 0px 0px;
      padding: 0;
      .li {
        margin-right: 5px;
      }
    }
  }
}
