.first {
  height: 100vh;
  h1 {
    font-weight: 700;
    font-size: 30px;
    color: rgb(34, 34, 34);
    margin-bottom: 10px;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;
    border: 1px solid black;
    border-radius: 12px;
    list-style: none;
    margin-bottom: 35px;
    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 20%;
      border-right: 1px solid rgb(228, 228, 228);
      p {
        line-height: 25px;
      }
      .title {
        font-weight: 400;
        font-size: 17px;
      }
      .qty {
        margin-top: 12px;
        font-weight: 700;
        font-size: 26px;
      }
    }
    li:last-child {
      border-right: none;
    }
  }
  h2 {
    font-size: 20px;
    font-weight: 700;
    color: rgb(34, 34, 34);
    border-bottom: 1px solid rgb(34, 34, 34);
    padding-bottom: 10px;
  }
  .blank {
    width: 100%;
    height: 200px;
    margin: 20px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 400;
    font-size: 17px;
    color: rgb(102, 102, 102);
  }
}
